<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Wikis</p>
    <ul>
      <li>Make sure you enter a title</li>
      <li>Make sure your Wiki is factually correct</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals:{wiki: @wiki} %>
  </div>  
</div>
<br/>

<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-8">
    <% if !@collaborations.blank? %>
      <h4>Collaborators</h4>

      <% @collaborations.each do |c| %>
        <p>
          <%= link_to wiki_collaboration_path(@wiki, c), method: :delete do %>
            <span class="glyphicon glyphicon-remove-circle"></span>
          <%end%>
          <%= c.user.name %>
        </p>
      <%end%>
    <% end %>
    <br/>

    <%= form_for [@wiki, @collaboration] do |f| %>
      <h4><%= f.label :user_id, 'Add New Collaborators' %></h4>
      <%= f.collection_select(:user_id, @users, :id, :name) %><br/><br/>
      <%= f.submit class: 'btn btn-success' %>
    <%end%>
  </div>
</div>

